@font-face {
  font-family: 'opensans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'pfsans';
  src: url("../fonts/pfsquaresanspro-bold.ttf") format("truetype"), url("../fonts/pfsquaresanspro-bold-webfont.woff2") format("woff2"), url("../fonts/pfsquaresanspro-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'pfsans';
  src: url("../fonts/pfsquaresanspro-italic.ttf") format("truetype"), url("../fonts/pfsquaresanspro-italic-webfont.woff2") format("woff2"), url("../fonts/pfsquaresanspro-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'pfsans';
  src: url("../fonts/pfsquaresanspro-light.ttf") format("truetype"), url("../fonts/pfsquaresanspro-light-webfont.woff2") format("woff2"), url("../fonts/pfsquaresanspro-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'pfsans';
  src: url("../fonts/pfsquaresanspro-medium.ttf") format("truetype"), url("../fonts/pfsquaresanspro-medium-webfont.woff2") format("woff2"), url("../fonts/pfsquaresanspro-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

* {
  outline: none;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'opensans';
  font-size: 16px;
  font-weight: 400;
  background: url("../img/bg.png"); }

a {
  text-decoration: none; }

b {
  font-weight: bold; }

ul {
  list-style: outside none none;
  padding: 0;
  margin: 0; }

input[type="text"], .client-panel textarea[type="text"], .delievery-panel textarea[type="text"],
input[type="number"],
.client-panel textarea[type="number"],
.delievery-panel textarea[type="number"],
input[type="button"],
.client-panel textarea[type="button"],
.delievery-panel textarea[type="button"],
textarea {
  border: none;
  background: none; }

input[type="button"], .client-panel textarea[type="button"], .delievery-panel textarea[type="button"] {
  cursor: pointer; }

.content-wrap {
  min-height: 100%;
  padding-bottom: 325px; }

.container {
  width: 1000px;
  margin: 0 auto; }

.header {
  padding-bottom: 50px;
  background: #fff; }

.nav-wrap {
  background: #000; }
  .nav-wrap .company-buttons {
    display: none; }

.nav-trigger {
  display: none;
  width: 32px;
  height: 28px;
  background: url(../img/burger.png); }

.nav-list, .footer-nav-list {
  font-size: 0px;
  margin: 0;
  padding: 0;
  text-align: justify; }
  .nav-list::after, .footer-nav-list::after {
    content: '';
    display: inline-block;
    width: 100%; }
  .nav-list__item, .footer-nav-list__item {
    display: inline-block; }
  .nav-list__link, .footer-nav-list__link {
    display: block;
    font: 20px/60px 'pfsans';
    color: #ffde00; }

.company {
  background: url("../img/car.png") no-repeat right bottom, url("../img/border.png") no-repeat center 240px, url("../img/bg.jpg") no-repeat center center;
  background-size: auto, auto, cover;
  height: 800px; }

.company-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 73px;
  color: #fff;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .company-top--header {
    padding-top: 45px;
    color: #000; }
  .company-top > div {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%; }

.company-logo {
  text-align: center; }
  .company-logo__icon {
    max-width: 100%; }

.company-buttons {
  padding-top: 23px;
  text-align: right; }
  .company-buttons__search {
    display: inline-block;
    margin-right: 32px;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    background: url("../img/loop.png"); }
  .company-buttons__request {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    border: 5px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 11px 16px; }
    .company-buttons__request--black {
      color: #000;
      border-color: #000; }

.company-contacts {
  padding-top: 23px;
  line-height: 25px; }
  .company-contacts__city {
    font: bold 20px/25px 'opensans';
    text-transform: uppercase; }
  .company-contacts__addr {
    font-weight: 300;
    display: inline-block; }
    .company-contacts__addr--bold {
      font-weight: 700; }
  .company-contacts__phone {
    font-weight: 300;
    display: inline-block; }
    .company-contacts__phone--bold {
      font-weight: 700; }

.company-about {
  font: 700 40px/1.25 'pfsans';
  color: #fff;
  margin-left: -40px;
  padding-right: 200px;
  padding-top: 190px; }
  .company-about div {
    margin-bottom: 65px; }
  .company-about__marked {
    color: #ffde00; }
  .company-about__link {
    color: #fff;
    text-decoration: underline; }

.repair {
  padding: 100px 0 90px;
  background: #fff; }

.repair-title, .vendor-title {
  text-transform: uppercase;
  margin: 0 0 65px;
  font: 300 40px/1.15 'pfsans';
  text-align: center; }

.tabs {
  border: 10px solid #ffde00;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .tabs__horizont-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .tabs__horizont-item .circle {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: -106px;
      margin-top: -50px;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      border: 7px solid #ffde00;
      border-radius: 50%;
      height: 200px;
      background: #fff;
      width: 200px; }
      .tabs__horizont-item .circle img {
        margin: auto;
        max-width: 100%;
        border-radius: 50%; }
  .tabs__horizont-controls {
    font-size: 0;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom: 30px; }
    .tabs__horizont-controls .ui-state-active {
      background: #ffde00; }
  .tabs__vert-controls {
    -webkit-flex-basis: 210px;
        -ms-flex-preferred-size: 210px;
            flex-basis: 210px;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin: 0;
    padding: 0;
    font: 20px/1.15 'pfsans';
    text-transform: uppercase;
    padding-bottom: 30px; }
    .tabs__vert-controls .ui-state-active {
      background: #ffde00; }
  .tabs__content-list {
    -webkit-flex-basis: 680px;
        -ms-flex-preferred-size: 680px;
            flex-basis: 680px;
    padding: 0 30px 40px 40px; }
  .tabs__send-btn {
    display: inline-block;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    background: #ffde00;
    padding: 10px 17px; }

.horizont-controls__item {
  display: inline-block;
  background: #eee;
  width: 140px;
  height: 50px; }
  .horizont-controls__item:hover {
    background: #ffde00; }

.horizont-controls__link {
  font: 20px/2.5 'pfsans';
  text-transform: uppercase;
  color: #000;
  padding: 10px 20px; }

.vert-controls__item {
  padding: 14px 20px; }
  .vert-controls__item:hover {
    background: #ffde00; }

.vert-controls__link {
  font: 20px/1.15 'pfsans';
  text-transform: uppercase;
  color: #000;
  display: block; }

.content-list__item p {
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 30px; }
  .content-list__item p:last-child {
    margin-bottom: 26px; }

.shop {
  background: url("../img/bg.png");
  padding-top: 60px;
  padding-bottom: 40px; }

.vendor-title {
  margin-bottom: 50px; }

.vendor-choose {
  padding-bottom: 15px;
  font: 300 24px/1.15 'pfsans'; }

.vendor-list {
  padding: 0;
  font-size: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .vendor-list__item {
    width: 300px;
    margin-bottom: 50px; }
    .vendor-list__item--small {
      width: 150px;
      margin: 0; }
  .vendor-list__icon-wrap {
    height: 160px;
    position: relative;
    background: #fff; }
    .vendor-list__icon-wrap:hover a {
      display: block; }
    .vendor-list__icon-wrap:hover img {
      display: none; }
    .vendor-list__icon-wrap--small {
      width: 150px;
      height: 80px; }
      .vendor-list__icon-wrap--small img {
        width: 80px; }
      .vendor-list__icon-wrap--small:hover {
        background: #ffde00; }
        .vendor-list__icon-wrap--small:hover img {
          display: block; }
    .vendor-list__icon-wrap a {
      display: none;
      background: #ffde00;
      font: 300 25px/1.15 'pfsans';
      text-transform: uppercase;
      color: #000;
      height: 100%;
      width: 100%;
      line-height: 160px;
      text-align: center;
      position: absolute; }
  .vendor-list__icon {
    max-width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.advantages {
  background: url("../img/adv_bg.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  padding: 65px 0 60px; }

.adv-title {
  font: 300 40px/1.15 'pfsans';
  margin: 0 0 35px;
  text-align: center;
  color: #fff; }

.adv-list {
  font-size: 0;
  color: #fff; }
  .adv-list__item {
    display: inline-block;
    padding-top: 120px;
    text-align: center;
    height: 160px;
    width: 300px;
    font: 25px/1.15 'pfsans'; }
    .adv-list__item:nth-child(4n+2) {
      width: 400px; }
    .adv-list__item:hover {
      color: #000; }
    .adv-list__item:nth-child(1) {
      background: url("../img/adv1.png") no-repeat center 33px; }
      .adv-list__item:nth-child(1):hover {
        background: #ffde00 url("../img/adv1_hover.png") no-repeat center 33px; }
    .adv-list__item:nth-child(2) {
      background: url("../img/adv2.png") no-repeat center 23px; }
      .adv-list__item:nth-child(2):hover {
        background: #ffde00 url("../img/adv2_hover.png") no-repeat center 23px; }
    .adv-list__item:nth-child(3) {
      background: url("../img/adv3.png") no-repeat center 30px; }
      .adv-list__item:nth-child(3):hover {
        background: #ffde00 url("../img/adv3_hover.png") no-repeat center 30px; }
    .adv-list__item:nth-child(5) {
      background: url("../img/adv4.png") no-repeat center 27px; }
      .adv-list__item:nth-child(5):hover {
        background: #ffde00 url("../img/adv4_hover.png") no-repeat center 27px; }
    .adv-list__item:nth-child(6) {
      background: url("../img/adv5.png") no-repeat center 17px; }
      .adv-list__item:nth-child(6):hover {
        background: #ffde00 url("../img/adv5_hover.png") no-repeat center 17px; }
    .adv-list__item:nth-child(7) {
      background: url("../img/adv6.png") no-repeat center 16px; }
      .adv-list__item:nth-child(7):hover {
        background: #ffde00 url("../img/adv6_hover.png") no-repeat center 16px; }
  .adv-list__text-wrap {
    height: 120px;
    background: #ffde00;
    padding: 35px 70px;
    visibility: hidden;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    text-align: center; }
    .adv-list__text-wrap p {
      margin: 0; }

.adv-list-item__text {
  display: none; }

.feedback {
  background: url("../img/feedback_bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 60px 0; }

.feedback-title {
  text-transform: uppercase;
  text-align: center;
  font: 300 40px/1.15 'pfsans';
  margin-bottom: 65px;
  color: #ffde00; }

.feed-slider .slick-prev {
  top: 38%;
  left: 0;
  width: 27px;
  height: 50px;
  background: url("../img/arrow_left_white.png") no-repeat;
  z-index: 1; }
  .feed-slider .slick-prev:before {
    content: ''; }

.feed-slider .slick-next {
  top: 38%;
  right: 0;
  width: 27px;
  height: 50px;
  background: url("../img/arrow_right_white.png") no-repeat; }
  .feed-slider .slick-next:before {
    content: ''; }

.feed-slide__icon-wrap {
  width: 200px;
  height: 200px;
  margin: 0 auto; }
  .feed-slide__icon-wrap img {
    width: 100%;
    height: auto; }

.feed-slide__blockquote {
  width: 760px;
  margin: 20px auto 0;
  padding: 30px 45px;
  background: rgba(0, 33, 63, 0.7);
  border-radius: 25px 0 25px 0;
  font: italic 18px/26px 'pfsans';
  text-align: center; }
  .feed-slide__blockquote blockquote {
    color: #fff;
    padding: 0;
    margin: 0; }

.feed-slide-author {
  text-align: center;
  margin-top: 30px; }
  .feed-slide-author__name {
    font: 25px/1.2 'pfsans';
    color: #fff; }
  .feed-slide-author__role {
    font: 16px/1.2 'pfsans';
    color: #73b1e6; }

.clients {
  padding: 70px 0;
  background: url("../img/bg.png");
  background-size: cover; }
  .clients .owl-prev, .clients .owl-next {
    position: absolute;
    top: 10px;
    left: 0;
    width: 28px;
    height: 50px;
    font-size: 0;
    background: url("../img/arrow_left.png") no-repeat; }
  .clients .owl-next {
    left: 972px;
    background: url("../img/arrow_right.png") no-repeat; }

.clients-title {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 50px 0;
  font: 300 40px/48px 'pfsans'; }

.clients-slider .slick-list {
  width: 90%;
  margin: 0 auto; }

.clients-slider .slick-prev {
  background: url("../img/arrow_left.png") no-repeat;
  width: 28px;
  height: 50px;
  left: 0;
  z-index: 1; }
  .clients-slider .slick-prev:before {
    display: none; }

.clients-slider .slick-next {
  background: url("../img/arrow_right.png") no-repeat;
  width: 28px;
  height: 50px;
  right: 0; }
  .clients-slider .slick-next:before {
    display: none; }

.clients-slider .clients-slide-wrap {
  text-align: center;
  height: 65px;
  position: relative; }
  .clients-slider .clients-slide-wrap img {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%; }

.footer {
  background: url("../img/footer_bg.jpg") no-repeat center center;
  background-size: cover;
  height: 325px;
  margin-top: -325px;
  color: #fff; }
  .footer .company-contacts__addr {
    font-weight: 700; }
  .footer .company-contacts__phone {
    font-weight: 700; }

.footer-nav-list {
  padding-top: 25px; }
  .footer-nav-list__link {
    font: bold 16px/1.15 'opensans';
    text-transform: uppercase; }

.footer-bottom {
  font-size: 14px;
  font-weight: 300;
  padding-top: 75px; }
  .footer-bottom__link {
    float: right; }
    .footer-bottom__link a {
      color: #ffde00;
      text-decoration: underline; }

.breadcrumbs-wrap {
  padding-bottom: 20px; }

.breadcrumbs-list {
  padding: 0;
  margin: 0; }
  .breadcrumbs-list__item {
    display: inline-block; }
  .breadcrumbs-list__link {
    color: #000;
    font: 300 14px/21px 'opensans'; }
    .breadcrumbs-list__link:after {
      display: inline-block;
      content: ' \2002\bb'; }
    .breadcrumbs-list__link--last {
      cursor: default; }
      .breadcrumbs-list__link--last:after {
        content: ''; }
    .breadcrumbs-list__link--active {
      text-decoration: underline; }

.page__title {
  font: 700 30px/25px 'pfsans';
  padding-top: 35px; }

.bask-panel__title {
  font-family: 'pfsans';
  font-size: 20px;
  margin-bottom: 10px; }

.order-product-table {
  width: 100%;
  font: 300 16px/1.15 'opensans';
  margin-bottom: 20px; }

.order-product-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  padding: 20px; }
  .order-product-row:last-child {
    border: none; }

.order-product-name {
  -webkit-flex-basis: 63%;
      -ms-flex-preferred-size: 63%;
          flex-basis: 63%; }
  .order-product-name__art {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    color: #5d5d5d; }

.order-product-price {
  -webkit-flex-basis: 17%;
      -ms-flex-preferred-size: 17%;
          flex-basis: 17%;
  text-align: right;
  color: #cf2987;
  font: 600 20px/1.15 'opensans'; }

.order-product-count {
  -webkit-flex-basis: 17%;
      -ms-flex-preferred-size: 17%;
          flex-basis: 17%;
  text-align: center; }
  .order-product-count input, .order-product-count .client-panel textarea, .client-panel .order-product-count textarea, .order-product-count .delievery-panel textarea, .delievery-panel .order-product-count textarea {
    line-height: 27px;
    width: 59px;
    text-align: center;
    border-left: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    background: #f8f8f8; }

.order-product-sum {
  width: 100%;
  text-align: right;
  font: 20px/1.15 'pfsans'; }
  .order-product-sum .price {
    font-weight: 500;
    color: #cf2987; }
  .order-product-sum input, .order-product-sum .client-panel textarea, .client-panel .order-product-sum textarea, .order-product-sum .delievery-panel textarea, .delievery-panel .order-product-sum textarea {
    padding: 0 25px;
    color: #fff;
    font: 14px/50px 'opensans';
    text-transform: uppercase;
    background: #21cee3; }
    .order-product-sum input:hover, .order-product-sum .client-panel textarea:hover, .client-panel .order-product-sum textarea:hover, .order-product-sum .delievery-panel textarea:hover, .delievery-panel .order-product-sum textarea:hover {
      background: #17a8ba;
      cursor: pointer; }

.order-product-cancel {
  -webkit-flex-basis: 3%;
      -ms-flex-preferred-size: 3%;
          flex-basis: 3%;
  text-align: right; }

.order-details-wrap {
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .order-details-wrap .btn-wrap {
    width: 100%;
    text-align: right; }

.client-panel, .delievery-panel {
  font-size: 14px;
  padding: 20px;
  width: 49%;
  background: #fff; }
  .client-panel__title {
    font-family: 'pfsans';
    font-size: 20px;
    margin-bottom: 15px; }
  .client-panel label, .delievery-panel label {
    font-weight: bold; }
  .client-panel input, .delievery-panel input, .client-panel textarea, .delievery-panel textarea {
    margin-top: 5px;
    width: 100%;
    padding: 0;
    padding-left: 20px;
    font-weight: 300;
    color: #474747;
    line-height: 39px;
    background: #f8f8f8;
    border-left: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    display: block; }
  .client-panel textarea, .delievery-panel textarea {
    line-height: 1.15;
    resize: none;
    padding: 10px 20px; }
  .client-panel .form-row, .delievery-panel .form-row {
    margin-bottom: 15px; }
    .client-panel .form-row:after, .delievery-panel .form-row:after {
      content: "";
      display: table;
      clear: both; }
    .client-panel .form-row:last-child, .delievery-panel .form-row:last-child {
      margin: 0; }
    .client-panel .form-row .form-col, .delievery-panel .form-row .form-col {
      float: left;
      margin-right: 20px;
      width: 215px; }
      .client-panel .form-row .form-col:last-child, .delievery-panel .form-row .form-col:last-child {
        margin: 0; }

.delievery-panel {
  margin: 0; }
  .delievery-panel__title {
    font-family: 'pfsans';
    font-size: 20px;
    margin-bottom: 36px; }

.delievery-tabs-controls {
  padding: 0;
  margin: 0;
  font-size: 0; }
  .delievery-tabs-controls .ui-tabs-active a {
    background: #ffde00;
    color: #000; }
  .delievery-tabs-controls__item {
    font: bold 14px/40px 'opensans';
    width: 150px;
    display: inline-block;
    text-align: center; }
  .delievery-tabs-controls__link {
    background: #e4e4e4;
    display: block;
    color: #5a5a5a; }
    .delievery-tabs-controls__link:hover {
      background: #ffde00;
      color: #000; }

.delievery-tabs {
  font: 14px/1.5 'opensans'; }
  .delievery-tabs__content {
    margin: 18px 0; }

input.make-order-btn, .client-panel textarea.make-order-btn, .delievery-panel textarea.make-order-btn {
  padding: 0 25px;
  margin-top: 10px;
  color: #fff;
  font: 14px/50px 'opensans';
  text-transform: uppercase;
  background: #76ac00;
  float: right; }
  input.make-order-btn:hover, .client-panel textarea.make-order-btn:hover, .delievery-panel textarea.make-order-btn:hover {
    background: #537900;
    cursor: pointer; }

.detail-list-header {
  margin: 50px 0 10px;
  font: 20px/24px 'pfsans'; }
  .detail-list-header:after {
    content: "";
    display: table;
    clear: both; }
  .detail-list-header .btns {
    float: right; }
  .detail-list-header a {
    display: inline-block;
    border: 1px solid #c0c0c0;
    font: 300 16px/28px 'pfsans';
    color: #000;
    width: 150px;
    margin-left: 20px; }
  .detail-list-header .by-price {
    background-image: url("../img/sort.png");
    background-repeat: no-repeat;
    background-position: 100px center;
    padding-left: 40px; }
  .detail-list-header .by-letter {
    background-image: url("../img/sort.png");
    background-repeat: no-repeat;
    background-position: 115px center;
    padding-left: 20px; }
  .detail-list-header .filter {
    font-weight: 400;
    padding-left: 5px;
    background: url("../img/filter.png") no-repeat 125px center; }
  .detail-list-header .active {
    background-image: url("../img/sort-active.png");
    border-color: #cf2987; }

.detail-row {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px 10px 10px 0; }
  .detail-row:after {
    content: "";
    display: table;
    clear: both; }
  .detail-row:hover {
    background: #ffde00; }

.detail-icon {
  float: left;
  width: 150px;
  padding-left: 20px; }
  .detail-icon__wrap {
    width: 130px;
    border: 1px solid #d2d2d2; }
    .detail-icon__wrap img {
      max-width: 100%;
      height: auto; }

.detail-name {
  padding-top: 8px;
  float: left;
  width: 510px;
  padding-left: 20px;
  font-weight: 300; }
  .detail-name small {
    display: block;
    font-size: 12px;
    margin-top: 5px; }

.detail-price {
  float: left;
  width: 160px;
  padding-left: 20px;
  padding-top: 17px;
  font-size: 18px;
  color: #cf2987;
  font-weight: bold;
  text-align: center; }

.detail-buy {
  float: left;
  padding-left: 20px;
  padding-top: 6px; }
  .detail-buy input, .detail-buy .client-panel textarea, .client-panel .detail-buy textarea, .detail-buy .delievery-panel textarea, .delievery-panel .detail-buy textarea {
    border: 3px solid #ffde00;
    text-transform: uppercase;
    padding: 10px 10px 10px 40px;
    cursor: pointer;
    background: #fff url("../img/cart.png") no-repeat 8px center; }

.pagination-wrap:after {
  content: "";
  display: table;
  clear: both; }

.pagination-list {
  float: right;
  margin-bottom: 35px; }
  .pagination-list__item {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    background: #fff;
    line-height: 30px;
    text-align: center;
    margin-left: 10px; }
    .pagination-list__item a {
      color: #000;
      display: block; }
    .pagination-list__item:hover {
      background: #ffde00; }
  .pagination-list__item--active {
    background: #ffde00; }

.order-complete {
  font: 100 20px/1.3 'pfsans';
  padding: 40px;
  margin-bottom: 40px;
  background: #fff;
  text-align: center; }
  .order-complete p {
    margin-bottom: 0; }
  .order-complete__number {
    font-size: 30px;
    font-weight: 400; }
  .order-complete__mail {
    font-weight: 400; }

.shop-slider {
  margin-bottom: 65px; }
  .shop-slider__item img {
    width: 100%;
    height: auto;
    display: block; }
  .shop-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 19%; }
  .shop-slider .owl-dot {
    width: 5px;
    height: 5px;
    background: #989c9e;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px; }
    .shop-slider .owl-dot:hover {
      background: #ffde00; }
    .shop-slider .owl-dot.active {
      background: #ffde00; }

.detail-pane {
  background: #fff;
  padding-right: 10px;
  font-weight: 300;
  font-size: 14px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px; }
  .detail-pane__pic {
    width: 340px;
    padding: 20px;
    text-align: center; }
  .detail-pane__img-wrap {
    border: 1px solid #d2d2d2; }
    .detail-pane__img-wrap img {
      width: 100%; }
  .detail-pane__desc {
    width: 340px;
    padding: 20px;
    line-height: 21px; }
    .detail-pane__desc small {
      font-size: 12px;
      line-height: 1.2;
      color: #5d5d5d;
      display: block;
      margin-bottom: 30px; }
    .detail-pane__desc dl {
      padding-right: 50px;
      text-align: right;
      margin-bottom: 25px;
      margin-top: 19px; }
    .detail-pane__desc dd {
      padding-left: 200px;
      margin: 0; }
    .detail-pane__desc dt {
      float: left; }
  .detail-pane__buy {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 21px;
    outline: 10px solid #ffde00;
    width: 310px;
    padding: 65px 0 10px 20px; }
    .detail-pane__buy .justify {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .detail-pane__buy .price {
      color: #cf2987;
      font-size: 24px;
      font-weight: 600; }
    .detail-pane__buy .btn {
      background: #ffde00 url("../img/cart-yellow.png") 10px center no-repeat;
      font-size: 16px;
      font-weight: bold;
      line-height: 50px;
      padding: 0 15px 0 45px;
      text-transform: uppercase; }

.others {
  margin-bottom: 40px; }
  .others__title {
    font: 20px/24px 'pfsans';
    margin-bottom: 15px; }
  .others__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .others__item {
    -webkit-flex-basis: 32%;
        -ms-flex-preferred-size: 32%;
            flex-basis: 32%;
    padding: 20px 10px 20px 20px;
    background: #fff; }

.others-item__img {
  float: left;
  width: 110px;
  height: 110px;
  border: 1px solid #d2d2d2;
  position: relative; }
  .others-item__img img {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    max-width: 100%;
    height: auto; }

.others-item__head {
  font-size: 14px;
  padding-left: 120px; }

.others-item__code {
  font-size: 12px;
  font-weight: 300;
  color: #5d5d5d;
  padding-left: 120px;
  padding-top: 10px; }

.others-item__footer {
  font-weight: 600;
  padding-top: 10px;
  padding-left: 120px; }
  .others-item__footer span {
    font-size: 20px;
    color: #cf2987; }
  .others-item__footer a {
    float: right; }

.text-wrap__header {
  font: 20px/24px 'pfsans';
  margin-bottom: 15px; }

.text-wrap p {
  line-height: 25px;
  margin-bottom: 25px;
  margin-top: 0;
  font-weight: 300; }

.text-wrap:before {
  display: block;
  height: 1px;
  width: 100%;
  content: '';
  background: #fff;
  border-top: 1px solid #cdcdcd;
  margin-bottom: 30px; }

.text-wrap:after {
  display: block;
  height: 1px;
  width: 100%;
  content: '';
  background: #fff;
  border-top: 1px solid #cdcdcd;
  margin-top: 30px; }

.text-wrap--no-hr {
  margin-top: 20px;
  margin-bottom: 60px; }
  .text-wrap--no-hr:before {
    display: none; }
  .text-wrap--no-hr:after {
    display: none; }

.make-order {
  margin-top: 30px;
  margin-bottom: 70px; }
  .make-order__title {
    font-family: 'pfsans';
    font-size: 20px;
    margin-bottom: 15px; }
  .make-order__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.ruble {
  font-family: 'PT Sans', sans-serif;
  color: #b2b2b2;
  font-style: normal; }

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
    width: auto; }
  .header {
    padding: 20px 0; }
  .company {
    height: auto;
    padding: 20px 0 30px;
    background: url("../img/bg.jpg") no-repeat center center; }
  .company-about {
    font: bold 30px/40px 'pfsans';
    border-top: 15px solid #ffde00;
    border-bottom: 15px solid #ffde00;
    margin: 60px -10px 0;
    padding: 30px 10px 20px; }
    .company-about div {
      margin-bottom: 45px; }
  .company-top {
    padding: 0;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .company-top .company-buttons {
      display: none; }
  .company-top--header {
    padding-top: 0; }
  .company-logo {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .company-contacts {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    text-align: center; }
  .nav .company-buttons {
    display: block;
    padding: 0;
    float: right;
    margin-top: 5px; }
    .nav .company-buttons__search {
      margin-right: 20px; }
  .nav-trigger {
    display: inline-block;
    margin: 15px 0; }
  .nav-list, .footer-nav-list {
    display: none; }
    .nav-list__item, .footer-nav-list__item {
      display: block; }
    .nav-list__link, .footer-nav-list__link {
      line-height: 50px; }
  .repair-title, .vendor-title,
  .vendor-title,
  .adv-title {
    font-size: 35px; }
  .breadcrumbs-wrap {
    padding-bottom: 15px; }
  .shop-slider {
    margin-bottom: 50px; }
  .vendor-list {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .vendor-list__item {
      margin: auto;
      margin-bottom: 20px; }
  .advantages .adv-list {
    margin: 0 -10px;
    text-align: justify; }
    .advantages .adv-list:after {
      display: inline-block;
      width: 100%;
      content: ''; }
    .advantages .adv-list__item {
      width: 50%;
      font-size: 20px;
      line-height: 24px; }
    .advantages .adv-list__text-wrap {
      display: none; }
  .feedback-title {
    margin-bottom: 30px;
    margin-top: 10px; }
  .feed-slider .slick-prev,
  .feed-slider .slick-next {
    top: 16%; }
  .feed-slide__blockquote {
    width: auto;
    padding: 20px 10px;
    margin-top: 15px; }
  .feed-slide__icon-wrap {
    width: 160px;
    height: auto; }
  .order-product-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .order-product-name {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 10px; }
  .order-product-price {
    -webkit-flex-basis: 33%;
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
    text-align: left; }
  .order-product-count {
    -webkit-flex-basis: 33%;
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%; }
  .order-product-cancel {
    -webkit-flex-basis: 33%;
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%; }
  .order-product-sum {
    text-align: left; }
    .order-product-sum input, .order-product-sum .client-panel textarea, .client-panel .order-product-sum textarea, .order-product-sum .delievery-panel textarea, .delievery-panel .order-product-sum textarea {
      margin-top: 15px;
      display: block; }
  .order-details-wrap .client-panel, .order-details-wrap .delievery-panel,
  .order-details-wrap .delievery-panel {
    width: 100%;
    margin-bottom: 15px; }
    .order-details-wrap .client-panel .form-col, .order-details-wrap .delievery-panel .form-col,
    .order-details-wrap .delievery-panel .form-col {
      float: none;
      width: 100%;
      margin-bottom: 15px; }
      .order-details-wrap .client-panel .form-col:last-child, .order-details-wrap .delievery-panel .form-col:last-child,
      .order-details-wrap .delievery-panel .form-col:last-child {
        margin: 0; }
  .delievery-tabs-controls__item {
    width: 50%; }
  .make-order {
    padding-top: 10px;
    padding-left: 10px;
    margin: 0 -10px; }
    .make-order__list {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center; }
    .make-order__item {
      margin-bottom: 35px; }
  .clients {
    display: none; }
  .repair {
    padding: 60px 0 0; }
  .repair-title, .vendor-title {
    margin-bottom: 40px; }
  .tabs {
    border-width: 0;
    border-top: 10px solid #ffde00;
    border-bottom: 10px solid #ffde00;
    margin: 0 -10px;
    padding: 0 10px; }
    .tabs__content-list {
      padding: 0;
      text-align: left; }
    .tabs__horizont-item {
      text-align: center; }
      .tabs__horizont-item .circle {
        display: none; }
    .tabs__vert-controls {
      display: none; }
    .tabs__send-btn {
      margin: 0 0 20px 0;
      display: inline-block; }
  .detail-pane {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    margin: 0 -10px 35px;
    padding: 0 10px; }
    .detail-pane__img-wrap {
      border: none; }
    .detail-pane__pic {
      width: 100%;
      max-width: 300px; }
    .detail-pane__desc {
      width: 100%;
      margin-bottom: 25px;
      padding: 0; }
    .detail-pane__buy {
      padding-top: 25px;
      margin-bottom: 10px;
      width: 100%; }
    .detail-pane .justify {
      margin-top: 15px; }
  .others {
    margin: 0 -10px 20px; }
    .others__title {
      padding-left: 10px; }
    .others__list {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .others__item {
      margin-bottom: 10px; }
      .others__item:last-child {
        margin-bottom: 0; }
  .text-wrap:after {
    display: none; }
  .text-wrap:before {
    display: none; }
  .text-wrap__header {
    margin-bottom: 5px; }
  .footer {
    height: auto; }
    .footer .footer-nav {
      display: none; }
    .footer .company-top {
      padding-top: 55px;
      margin-bottom: 0; }
    .footer .company-logo {
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .footer .company-buttons {
      display: block;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3; }
    .footer .company-contacts {
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
      .footer .company-contacts__addr {
        display: block; }
      .footer .company-contacts__phone {
        display: block; }
  .footer-bottom {
    text-align: center;
    padding: 40px; }
    .footer-bottom__link {
      float: none;
      margin-top: 20px; } }
