@font-face {
	font-family: 'opensans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
		 url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');	
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'opensans';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype'),
		 url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');	
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'opensans';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype'),
		 url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'opensans';
	src: url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
		 url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
    font-family: 'pfsans';
    src: url('../fonts/pfsquaresanspro-bold.ttf') format('truetype'),
    	 url('../fonts/pfsquaresanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'pfsans';
    src: url('../fonts/pfsquaresanspro-italic.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-italic-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'pfsans';
    src: url('../fonts/pfsquaresanspro-light.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'pfsans';
    src: url('../fonts/pfsquaresanspro-medium.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-medium-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}