@media screen and (max-width: 768px) {

	.container {
		padding: 0 10px;
		width: auto;
	}
	
	.header {
		padding: 20px 0;
	}
	
	.company {
		height: auto;
		padding: 20px 0 30px;
		background: url("../img/bg.jpg") no-repeat center center;
	}

	.company-about {
		font: bold 30px/40px 'pfsans';
		border-top: 15px solid #ffde00;
		border-bottom: 15px solid #ffde00;
		margin: 60px -10px 0;
		padding: 30px 10px 20px;

		div {
			margin-bottom: 45px;
		}
	}

	.company-top {
		padding: 0;
		flex-direction: column;

		.company-buttons {
			display: none;
		}
	}

	.company-top--header {
		padding-top: 0;
	}

	.company-logo {
		order: 1;
	}

	.company-contacts {
		order: 2;
		text-align: center;
	}

	.nav {

		.company-buttons {
			display: block;
			padding: 0;
			float: right;
		    margin-top: 5px;

		    &__search {
		    	margin-right: 20px;
		    }	
		}
	}

	.nav-trigger {
		display: inline-block;
		margin: 15px 0;
	}

	.nav-list {
		display: none;

		&__item {
			display: block;
		}

		&__link {
			line-height: 50px;
		}
	}

	.repair-title, 
	.vendor-title,
	.adv-title {
		font-size: 35px;
	}

	.breadcrumbs-wrap {
		padding-bottom: 15px;
	}
	
	.shop-slider {
		margin-bottom: 50px;
	}

	.vendor-list {
		flex-wrap: nowrap;
		flex-direction: column;

		&__item {
			margin: auto;
			margin-bottom: 20px;
		}
	}

	.advantages {

		.adv-list {
			margin: 0 -10px;
			text-align: justify;

			&:after {
				display: inline-block;
				width: 100%;
				content: '';
			}

			&__item {
				width: 50%;
				font-size: 20px;
  				line-height: 24px;
			}

			&__text-wrap {
				display: none;
			}
		}
	}


	.feedback-title {
		margin-bottom: 30px;
		margin-top: 10px;
	}

	.feed-slider {

		.slick-prev,
		.slick-next {
			top: 16%;
		}
	}

	.feed-slide {

		&__blockquote {
			width: auto;
			padding: 20px 10px;
			margin-top: 15px;
		}

		&__icon-wrap {
			width: 160px;
			height: auto;
		}
	}

	.order-product-row {
		flex-wrap: wrap;
	}

	.order-product-name {
		flex-basis: 100%;
		margin-bottom: 10px;
	}

	.order-product-price {
		flex-basis: 33%;
		text-align: left;
	}

	.order-product-count {
		flex-basis: 33%;
	}

	.order-product-cancel {
		flex-basis: 33%;
	}

	.order-product-sum {
		text-align: left;

		input {
			margin-top: 15px;
			display: block;
		}
	}

	.order-details-wrap {

		.client-panel,
		.delievery-panel {
			width: 100%;
			margin-bottom: 15px;

			.form-col {
				float: none;
				width: 100%;
				margin-bottom: 15px;

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	.delievery-tabs-controls__item {
		width: 50%;
	}

	.make-order {
		padding-top: 10px;
		padding-left: 10px;
    	margin: 0 -10px;

		&__list {
			flex-direction: column;
			align-items: center;
		}

		&__item {
			margin-bottom: 35px;
		}
	}
	
	.clients {
		display: none;
	}

	.repair {
		padding: 60px 0 0;
	}

	.repair-title {
		margin-bottom: 40px;
	}

	.tabs {
		border-width: 0;
	    border-top: 10px solid #ffde00;
    	border-bottom: 10px solid #ffde00;
    	margin: 0 -10px;
    	padding: 0 10px;

    	&__content-list {
    		padding: 0;
    		text-align: left;
    	}

    	&__horizont-item {
    		text-align: center;

    		.circle {
    			display: none;
    		}
    	}

    	&__vert-controls {
    		display: none;
    	}

    	&__send-btn {
    		margin: 0 0 20px 0;
    		display: inline-block;
    	}
	}

	.detail-pane {
		flex-direction: column;
		align-items: center;
		margin: 0 -10px 35px;
		padding: 0 10px;
		
		&__img-wrap {
			border: none;
		}

		&__pic {
			width: 100%;
			max-width: 300px; 
		}

		&__desc {
			width: 100%;
			margin-bottom: 25px;
			padding: 0;
		}

		&__buy {
			padding-top: 25px;
			margin-bottom: 10px;
			width: 100%;
		}

		.justify {
			margin-top: 15px;
		}
	}

	.others {
		margin: 0 -10px 20px;

		&__title {
			padding-left: 10px;
		}

		&__list {
			flex-direction: column;
		}

		&__item {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.text-wrap {

		&:after {
			display: none;
		}

		&:before {
			display: none;
		}

		&__header {
			margin-bottom: 5px;
		}
	}


	.footer {
		height: auto;

		.footer-nav {
			display: none;
		}

		.company-top {
			padding-top: 55px;
			margin-bottom: 0;
		}

		.company-logo {
			order: 1;
		}

		.company-buttons {
			display: block;
			order: 3;
		}

		.company-contacts {
			order: 2;

			&__addr {
				display: block;
			}

			&__phone {
				display: block;
			}
		}
	}

	.footer-bottom {
		text-align: center;
		padding: 40px;
		
		&__link {
			float: none;
			margin-top: 20px;
		}
	}
}