@import 'fonts';
@import 'mixins';

* {
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'opensans';
	font-size: 16px;
	font-weight: 400;
	background: url('../img/bg.png');
}

a {
	text-decoration: none;
}

b {
	font-weight: bold;
}

ul {
	list-style: outside none none;
	padding: 0;
	margin: 0;
}

input[type="text"],
input[type="number"],
input[type="button"],
textarea {
	border: none;
	background: none;
}

input[type="button"] {
	cursor: pointer;
}

.content-wrap {
	min-height: 100%;
	padding-bottom: 325px;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.header {
	padding-bottom: 50px;
	background: #fff;
}

.nav-wrap {
	background: #000;

	.company-buttons {
		display: none;
	}
}

.nav-trigger {
	display: none;
	width: 32px;
	height: 28px;
	background: url(../img/burger.png);
}

.nav-list {
	font-size: 0px;
	margin: 0;
	padding: 0;
	text-align: justify;

	&::after {
		content: '';
		display: inline-block;
		width: 100%;
	}

	&__item {
		display: inline-block;
	}

	&__link {
		display: block;
		font: 20px/60px 'pfsans';
		color: #ffde00;
	}
}

.company {
	background: url('../img/car.png') no-repeat right bottom, 
				url('../img/border.png') no-repeat center 240px,
				url('../img/bg.jpg') no-repeat center center;	
	background-size: auto, auto, cover;	
	height: 800px;
}

.company-top {
	display: flex;
	padding-top: 73px;
	color: #fff;
	justify-content: space-between;
	align-items: center;

	&--header {
		padding-top: 45px;
		color: #000;
	}

	& > div {
		flex-basis: 1/3 * 100%;
	}
}

.company-logo {
	text-align: center;

	&__icon {
		max-width: 100%;
	}
}

.company-buttons {
	padding-top: 23px;
	text-align: right;

	&__search {
		display: inline-block;
		margin-right: 32px;
		vertical-align: middle;
		height: 24px;
		width: 24px;
		background: url('../img/loop.png');
	}

	&__request {
		vertical-align: middle;
		display: inline-block;
		font-weight: bold;
		border: 5px solid #fff;
		color: #fff;
		text-transform: uppercase;
		padding: 11px 16px;

		&--black {
			color: #000;
			border-color: #000;
		}
	}
}

.company-contacts {
	padding-top: 23px;
	line-height: 25px;

	&__city {
		font: bold 20px/25px 'opensans';
		text-transform: uppercase;
	}

	&__addr {
		font-weight: 300;
		display: inline-block;		

		&--bold {
			font-weight: 700;
		}
	}

	&__phone {
		font-weight: 300;
		display: inline-block;

		&--bold {
			font-weight: 700;
		}
	}
}

.company-about {
	font: 700 40px/1.25 'pfsans';
	color: #fff;
    margin-left: -40px;
    padding-right: 200px;
    padding-top: 190px;
	
	div {
		margin-bottom: 65px;
	}

    &__marked {
		color: #ffde00;
	}

	&__link {
		color: #fff;
		text-decoration: underline;
	}
}

.repair {
	padding: 100px 0 90px;
	background: #fff;
}

.repair-title {
	text-transform: uppercase;
	margin: 0 0 65px;
	font: 300 40px/1.15 'pfsans';
	text-align: center;
}

.tabs {
	border: 10px solid #ffde00;
	display: flex;
    justify-content: center;
    flex-direction: column;

	&__horizont-item {
	    display: flex;
    	justify-content: flex-end;

    	.circle {
    		display: flex;
    		margin-left: -106px;
    		margin-top: -50px;
    		align-self: center;
    		border: 7px solid #ffde00;
    		border-radius: 50%;
    		height: 200px;
    		background: #fff;
    		width: 200px;

    		img {
    			margin: auto;
    			max-width: 100%;
    			border-radius: 50%;
    		}
    	}
	}

	&__horizont-controls {
	    font-size: 0;
	    text-transform: uppercase;
	    text-align: center;
	    position: relative;
	    bottom: 30px;

		.ui-state-active {
			background: #ffde00;
		}
	}

	&__vert-controls {
		flex-basis: 210px;
		order: 3;
		margin: 0;
		padding: 0;
		font: 20px/1.15 'pfsans';
		text-transform: uppercase;
	    padding-bottom: 30px;


		.ui-state-active {
			background: #ffde00;
		}
	}

	&__content-list {
		flex-basis: 680px;
		padding: 0 30px 40px 40px;
	}

	&__send-btn {
		display: inline-block;
  		color: #000;
  		font-weight: bold;
  		text-transform: uppercase;
		line-height: 30px;
		background: #ffde00;
		padding: 10px 17px;
	}
}

.horizont-controls__item {
	display: inline-block;
	background: #eee;
	width: 140px;
	height: 50px;

	&:hover {
		background: #ffde00;
	}
}

.horizont-controls__link {
		font: 20px/2.5 'pfsans';
		text-transform: uppercase;
		color: #000;
		padding: 10px 20px;
}

.vert-controls__item {
	padding: 14px 20px;

	&:hover {
		background: #ffde00;
	}
}

.vert-controls__link {
	font: 20px/1.15 'pfsans';
	text-transform: uppercase;
	color: #000;
	display: block;
}

.content-list__item p {
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 26px;
	}
}

.shop {
	background: url('../img/bg.png');
	padding-top: 60px;
	padding-bottom: 40px;
}

.vendor-title {
	@extend .repair-title;
	margin-bottom: 50px;
}

.vendor-choose {
	padding-bottom: 15px;
	font: 300 24px/1.15 'pfsans'; 
}

.vendor-list {
	padding: 0;
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__item {
		width: 300px;
		margin-bottom: 50px;

		&--small {
			width: 150px;
			margin: 0;
		}
	}

	&__icon-wrap {
		height: 160px;
		position: relative;
		background: #fff;

		&:hover {
			a {
				display: block;
			}

			img {
				display: none;
			}
		}

		&--small {
			width: 150px; 
			height: 80px;

			img {
				width: 80px;
			}

			&:hover {
				background: #ffde00;

				img{
					display: block;
				}
			}
		}		

		a {
			display: none;
			background: #ffde00;
			font: 300 25px/1.15 'pfsans';
			text-transform: uppercase;
			color: #000;
			height: 100%;
			width: 100%;
			line-height: 160px;
			text-align: center;
			position: absolute;
		}
	}

	&__icon {
		max-width: 100%;
		height: auto;
		position: absolute;
		margin: auto;
		top: 0;right: 0;bottom: 0;left: 0;
	}
}

.advantages {
	background: url('../img/adv_bg.jpg') no-repeat center center;
	background-size: cover;
	overflow: hidden;
	padding: 65px 0 60px;
}

.adv-title {
	font: 300 40px/1.15 'pfsans';
	margin: 0 0 35px;
	text-align: center; 
	color: #fff;
}

.adv-list {
	font-size: 0;
	color: #fff;

	&__item {
		display: inline-block;
		padding-top: 120px;
		text-align: center;
		height: 160px;
		width: 300px;
		font: 25px/1.15 'pfsans';

		&:nth-child(4n+2) {
			width: 400px;
		}

		&:hover {
			color: #000; 
		}

		&:nth-child(1) {
			background: url('../img/adv1.png') no-repeat center 33px;

			&:hover {
				background: #ffde00 url("../img/adv1_hover.png") no-repeat center 33px;
			}
		}

		&:nth-child(2) {
			background: url('../img/adv2.png') no-repeat center 23px;

			&:hover {
				background: #ffde00 url("../img/adv2_hover.png") no-repeat center 23px;
			}			
		}

		&:nth-child(3) {
			background: url('../img/adv3.png') no-repeat center 30px;

			&:hover {
				background: #ffde00 url("../img/adv3_hover.png") no-repeat center 30px;
			}			
		}

		&:nth-child(5) {
			background: url('../img/adv4.png') no-repeat center 27px;

			&:hover {
				background: #ffde00 url("../img/adv4_hover.png") no-repeat center 27px;
			}			
		}

		&:nth-child(6) {
			background: url('../img/adv5.png') no-repeat center 17px;

			&:hover {
				background: #ffde00 url("../img/adv5_hover.png") no-repeat center 17px;
			}			
		}

		&:nth-child(7) {
			background: url('../img/adv6.png') no-repeat center 16px;

			&:hover {
				background: #ffde00 url("../img/adv6_hover.png") no-repeat center 16px;
			}			
		}
	}

	&__text-wrap {
		height: 120px;
		background: #ffde00;
		padding: 35px 70px;
		visibility: hidden;
		color: #000;
		font-size: 16px;
		line-height: 24px;
		text-align: center;

		p {
			margin: 0;
		}
	}
}

.adv-list-item {
	
	&__text {
		display: none;
	}
}

.feedback {
	background: url('../img/feedback_bg.jpg') no-repeat center center;
	background-size: cover;
	padding: 60px 0;
}

.feedback-title {
	text-transform: uppercase;
	text-align: center;
	font: 300 40px/1.15 'pfsans';
	margin-bottom: 65px;
	color: #ffde00; 
}

.feed-slider {

	.slick-prev {
		top: 38%;
		left: 0;
		width: 27px;
		height: 50px;
		background: url('../img/arrow_left_white.png') no-repeat;
		z-index: 1;

		&:before {
			content: '';
		}
	}

	.slick-next {
		top: 38%;
		right: 0;
		width: 27px;
		height: 50px;
		background: url('../img/arrow_right_white.png') no-repeat;

		&:before {
			content: '';
		}
	}
}

.feed-slide {

	&__icon-wrap {
		width: 200px;
		height: 200px;
		margin: 0 auto;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__blockquote {
		width: 760px;
		margin: 20px auto 0;
		padding: 30px 45px;
		background: rgba(0,33,63,0.7);
		border-radius: 25px 0 25px 0;
		font: italic 18px/26px 'pfsans';
		text-align: center;

		blockquote {
			color: #fff;
			padding: 0;
			margin: 0;
		}
	}
}

.feed-slide-author {
	text-align: center;
	margin-top: 30px;

	&__name {
		font: 25px/1.2 'pfsans';
		color: #fff;
	}

	&__role {
		font: 16px/1.2 'pfsans';
		color: #73b1e6;
	}
}

.clients {
	padding: 70px 0;
	background: url('../img/bg.png');
	background-size: cover;

	.owl-prev {
		position: absolute;
		top: 10px;
		left: 0;
		width: 28px;
		height: 50px;
		font-size: 0;
		background: url('../img/arrow_left.png') no-repeat;
	}

	.owl-next {
		@extend .owl-prev;
		left: 972px;
		background: url('../img/arrow_right.png') no-repeat;
	}
}

.clients-title {
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 50px 0;
	font: 300 40px/48px 'pfsans';
}

.clients-slider {
	
	.slick-list {
		width: 90%;
		margin: 0 auto;
	}

	.slick-prev {
		background: url('../img/arrow_left.png') no-repeat;
		width: 28px;
		height: 50px;
		left: 0;
		z-index: 1;

		&:before {
			display: none;
		}
	}

	.slick-next {
		background: url('../img/arrow_right.png') no-repeat;
		width: 28px;
		height: 50px;
		right: 0;

		&:before {
			display: none;
		}
	}

	.clients-slide-wrap {
		text-align: center;
		height: 65px;
		position: relative;

		img {
			position: absolute;
			margin: auto;
			top: 0;right: 0;bottom: 0;left: 0;
			max-width: 100%;
		}
	}
}

.footer {
	background: url('../img/footer_bg.jpg') no-repeat center center;
	background-size: cover;
	height: 325px;
	margin-top: -325px;
	color: #fff;

	.company-contacts__addr {
		font-weight: 700;
	}

	.company-contacts__phone {
		font-weight: 700;
	}
}

.footer-nav-list {
	@extend .nav-list;
	padding-top: 25px;

	&__item {
		@extend .nav-list__item;
	}

	&__link {
		@extend .nav-list__link;
		font: bold 16px/1.15 'opensans';
		text-transform: uppercase;
	}
}

.footer-bottom {
	font-size: 14px;
	font-weight: 300;
	padding-top: 75px;

	&__link {
		float: right;

		a {
			color: #ffde00;
			text-decoration: underline;
		}
	}
}

.breadcrumbs-wrap {
	padding-bottom: 20px;
}

.breadcrumbs-list {
	padding: 0;
	margin: 0;

	&__item {
		display: inline-block;
	}

	&__link {
		color: #000;
		font: 300 14px/21px 'opensans';

		&:after {
			display: inline-block;
			content: ' \2002\bb';
		}

		&--last {
			cursor: default;
			&:after {
				content: '';
			} 
		}

		&--active {
			text-decoration: underline;
		}
	}
}

.page {

	&__title {
		font: 700 30px/25px 'pfsans';
		padding-top: 35px;
	}
}

.bask-panel {

	&__title {
		font-family: 'pfsans';
		font-size: 20px;
		margin-bottom: 10px;
	}
}

.order-product-table {
	width: 100%;
	font: 300 16px/1.15 'opensans';
	margin-bottom: 20px;
}

.order-product-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
	padding: 20px;

	&:last-child {
		border: none;
	}
}

.order-product-name {
	flex-basis: 63%;

	&__art {
		font-size: 12px;
		display: block;
		margin-top: 5px;
		color: #5d5d5d;
	}
}

.order-product-price {
	flex-basis: 17%;
	text-align: right;
	color: #cf2987;
	font: 600 20px/1.15 'opensans';
}

.order-product-count {
	flex-basis: 17%;
	text-align: center;

	input {
		line-height: 27px;
		width: 59px;
		text-align: center;
		border-left: 1px solid #d8d8d8;
		border-top: 1px solid #d8d8d8;
		background: #f8f8f8;
	}
}

.order-product-sum {
	width: 100%;
	text-align: right;
	font: 20px/1.15 'pfsans';

	.price {
		font-weight: 500;
		color: #cf2987;
	}

	input {
		padding: 0 25px;
		color: #fff;
		font: 14px/50px 'opensans';
		text-transform: uppercase;
		background: #21cee3;

		&:hover {
			background: darken(#21cee3, 10%);
			cursor: pointer;
		}
	}
}

.order-product-cancel {
	flex-basis: 3%;
	text-align: right;
}

.order-details-wrap {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.btn-wrap {
		width: 100%;
		text-align: right;
	}
}

.client-panel {
	font-size: 14px;
	padding: 20px;
	width: 49%;
	background: #fff;

	&__title {
		font-family: 'pfsans';
		font-size: 20px;
		margin-bottom: 15px;
	}
	
	label {
		font-weight: bold;
	}

	input {
		margin-top: 5px;
		width: 100%;
		padding: 0;
		padding-left: 20px;
		font-weight: 300;
		color: #474747;
		line-height: 39px;
		background: #f8f8f8;
		border-left: 1px solid #d8d8d8;
		border-top: 1px solid #d8d8d8;
		display: block;
	}

	textarea {
		@extend input;
		line-height: 1.15;
		resize: none;
		padding: 10px 20px;
	}

	.form-row {
		margin-bottom: 15px;
		@include clearfix;

		&:last-child {
			margin: 0;
		}

		.form-col {
			float: left;
			margin-right: 20px;
			width: 215px;

			&:last-child {
				margin: 0;
			}
		}
	}
}

.delievery-panel {
	@extend .client-panel;
	margin: 0;

	&__title {
		font-family: 'pfsans';
		font-size: 20px;
		margin-bottom: 36px;
	}
}

.delievery-tabs-controls {
	padding: 0;
	margin: 0;
	font-size: 0;

	.ui-tabs-active a {
		background: #ffde00;
		color: #000;
	}

	&__item {
		font: bold 14px/40px 'opensans';
		width: 150px;
		display: inline-block;
		text-align: center;
	}

	&__link {
		background: #e4e4e4;
		display: block;
		color: #5a5a5a;

		&:hover {
			background: #ffde00;
			color: #000;
		}
	}
}

.delievery-tabs {
	font: 14px/1.5 'opensans';

	&__content {
		margin: 18px 0;
	}
}

input.make-order-btn {
	padding: 0 25px;
	margin-top: 10px;
    color: #fff;
    font: 14px/50px 'opensans';
    text-transform: uppercase;
    background: #76ac00;
    float: right;

    &:hover {
    	background: darken(#76ac00,10%);
    	cursor: pointer;
    }
}

.detail-list-header {
	margin: 50px 0 10px;
	@include clearfix;
	font: 20px/24px 'pfsans';

	.btns {
		float: right;
	}

	a {
		display: inline-block;
		border: 1px solid #c0c0c0;
		font: 300 16px/28px 'pfsans';
		color: #000;
		width: 150px;
		margin-left: 20px;
	}

	.by-price {
		background-image: url('../img/sort.png');
		background-repeat: no-repeat;
		background-position: 100px center;
		padding-left: 40px;
	}

	.by-letter {
		background-image: url('../img/sort.png');
		background-repeat: no-repeat;
		background-position: 115px center;	
		padding-left: 20px;
	}

	.filter {
		font-weight: 400;
		padding-left: 5px;
		background: url('../img/filter.png') no-repeat 125px center;
	}

	.active {
		background-image: url('../img/sort-active.png');
		border-color: #cf2987;
	}
}

.detail-row {
	@include clearfix;
	background: #fff;
	margin-bottom: 10px;
	padding: 10px 10px 10px 0;

	&:hover {
		background: #ffde00;
	}
}

.detail-icon {
	float: left;
	width: 150px;
	padding-left: 20px;
	
	&__wrap {
		width: 130px;
		border: 1px solid #d2d2d2;

		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.detail-name {
    padding-top: 8px;
	float: left;
	width: 510px;
	padding-left: 20px;
	font-weight: 300;

	small {
		display: block;
		font-size: 12px;
		margin-top: 5px;
	}
}

.detail-price {
	float: left;
	width: 160px;
	padding-left: 20px;
	padding-top: 17px;
	font-size: 18px;
	color: #cf2987;
	font-weight: bold;
	text-align: center;
}

.detail-buy {
	float: left;
	padding-left: 20px;
	padding-top: 6px;

	input {
		border: 3px solid #ffde00;
		text-transform: uppercase;
		padding: 10px 10px 10px 40px;
		cursor: pointer;
		background: #fff url('../img/cart.png') no-repeat 8px center;
	}
}

.pagination-wrap {
	@include clearfix;
}

.pagination-list {
	float: right;
	margin-bottom: 35px;

	&__item {
		display: inline-block;
		min-width: 30px;
		height: 30px;
		background: #fff;
		line-height: 30px;
		text-align: center;
		margin-left: 10px;

		a {
			color: #000;
			display: block;
		}

		&:hover {
			background: #ffde00;
		}
	}
	

	&__item--active {
		background: #ffde00;
	}
}

.order-complete {
	font: 100 20px/1.3 'pfsans';
	padding: 40px;
	margin-bottom: 40px;
	background: #fff;
	text-align: center;

	p {
		margin-bottom: 0;
	}

	&__number {
		font-size: 30px;
		font-weight: 400;
	}

	&__mail {
		font-weight: 400;
	}
}

.shop-slider {
	
	margin-bottom: 65px;

	&__item {

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	.owl-dots {
		position: absolute;
		bottom: 10px;
		left: 19%;
	}

	.owl-dot {
		width: 5px;
		height: 5px;
		background: #989c9e;
		border-radius: 50%;
		display: inline-block;
		margin-right: 5px;

		&:hover {
			background: #ffde00;
		}

		&.active {
			background: #ffde00;
		}
	}
}

.detail-pane {
	background: #fff;
	padding-right: 10px;
	font-weight: 300;
	font-size: 14px;
	display: flex;
	margin-bottom: 45px;
	

	&__pic {
		width: 340px;
		padding: 20px;	
		text-align: center;
	}

	&__img-wrap {
		border: 1px solid #d2d2d2;

		img {
			width: 100%;
		}
	}

	&__desc {
		width: 340px;
		padding: 20px;
		line-height: 21px;

		small {
			font-size: 12px;
			line-height: 1.2;
			color: #5d5d5d;
			display: block;
			margin-bottom: 30px;
		}

		dl {
			padding-right: 50px;
			text-align: right;
			margin-bottom: 25px;
			margin-top: 19px;
		}

		dd {
			padding-left: 200px;
			margin: 0;
		}

		dt {
			float: left;
		}
	}

	&__buy {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		line-height: 21px;
		outline: 10px solid #ffde00;
		width: 310px;
		padding: 65px 0 10px 20px;
		
		.justify {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.price {
			color: #cf2987;
			font-size: 24px;
			font-weight: 600;
		}

		.btn {
			background: #ffde00 url('../img/cart-yellow.png') 10px center no-repeat;
			font-size: 16px;
			font-weight: bold;
			line-height: 50px;
			padding: 0 15px 0 45px;
			text-transform: uppercase;
		}
	}
}

.others {
	margin-bottom: 40px;
	
	&__title {
		font: 20px/24px 'pfsans';
    	margin-bottom: 15px;
	}

	&__list {
		display: flex;
		justify-content: space-between;	
	}

	&__item {
		flex-basis: 32%;
		padding: 20px 10px 20px 20px;
		background: #fff;
	}
}

.others-item {
	
	&__img {
		float: left;
		width: 110px;
		height: 110px;
		border: 1px solid #d2d2d2;
		position: relative;

		img {
			top: 0;right: 0;
			bottom: 0;left: 0;
			margin: auto;
			position: absolute;
			max-width: 100%;
			height: auto;
		}
	}

	&__head {
		font-size: 14px;
		padding-left: 120px;
	}

	&__code {
		font-size: 12px;
		font-weight: 300;
		color: #5d5d5d;
		padding-left: 120px;
		padding-top: 10px;
	}

	&__footer {
		font-weight: 600;
		padding-top: 10px;
		padding-left: 120px;

		span {
			font-size: 20px;
			color: #cf2987;
		}

		a {
			float: right;
		}
	}
}

.text-wrap {

	&__header {
		font: 20px/24px 'pfsans';
		margin-bottom: 15px;
	}

	p {
		line-height: 25px;
		margin-bottom: 25px;
		margin-top: 0;
		font-weight: 300;
	}

	&:before {
		display: block;
		height: 1px;
		width: 100%;
		content:'';
		background: #fff;
		border-top: 1px solid #cdcdcd;
		margin-bottom: 30px;
	}

	&:after {
		display: block;
		height: 1px;
		width: 100%;
		content:'';
		background: #fff;
		border-top: 1px solid #cdcdcd;
		margin-top: 30px;
	}

	&--no-hr {
		margin-top: 20px;
		margin-bottom: 60px;

		&:before {
			display: none;
		}

		&:after {
			display: none;
		}
	}
}

.make-order {
	margin-top: 30px;
	margin-bottom: 70px;
	
	&__title {
		font-family: 'pfsans';
		font-size: 20px;
		margin-bottom: 15px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}
}

.ruble {
	font-family: 'PT Sans', sans-serif;
	color: #b2b2b2;
	font-style: normal;
}

@import 'mobile';